<body>
    <div>
       <div class="header"> 
        <h1 style="text-align:center;">Bank Application</h1>
       </div> 
       <h6 style="text-align:center;">Welcome to our Website</h6>


    <!-- <Need to make a page for Login and Sign up with Backend logic> -->
      <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="news">News</a>
        <a href="contact">Contact</a>
        <a href="about">About</a>
        <a href="">Login</a> &nbsp;
        <a href="">Signup/Register</a>
         <!-- <Need to add buttons logic on the page > -->
          <div style="float:right;" >
            <button style="text-align: right;">Career</button>
            <button style="text-align: right;">Help</button>
          </div>
        </div>
      </div>

    <!-- <left side grey color row for the screen starts from here> -->
    <div class="row">
        <div class="side">

    <!-- In short Banking Experience and Photo  -->
        <div>
          <h2>About Us</h2>
          <h5>We are serving since 2000.Now we are availabe online 24x7 for Customers.
          </h5>
          <img src="../assets/bank-300x225.jpg" alt="error loading Image" width="300" height="200">
          <p></p>
        </div>
        
    <!-- Loan Details and Photo I should Post Hyperlink for next page may be -->
          <div>
            <h2>Loan Schemes</h2>
            <h5>Home Loan,Student Loan,Car Loan and many..</h5>
            <p></p>
            <img src="../assets/businessman-giving-money-indian-rupee-currency-hs-partner_8087-3443.webp" alt="error loading Image" width="300" height="200">
          </div>

    <!-- <Insurance and Policies may add a link in future> -->
          <div>
            <h2>Insurance Plans</h2>
            <h5>General Insurance,Health Insurance,Motor Insurance</h5>
            <img src="../assets/insurance-policy.jpg" alt="error loading Image" width="300" height="200">
            <p></p>
          </div>

    <!-- <Need to tell more about the funds on the page > -->
          <div>
            <h2>Investments and Funds</h2>
            <h5>Great Replacements for FD's</h5>
            <img src="../assets/Recurring-Deposit-vs-Chit-Fund.jpg.webp" alt="error loading Image" width="300" height="200">
          </div>
        </div>

    <!-- <Middle Layer useage for the Bank Application> -->
          <div class="main">

    <!-- <For the Main Headlines of the week in Bank Application > -->
          <h2>Stay Away from Online Fraud</h2>
          <h5>For more info Check the details given below</h5>
          <img src="../assets/24.png" alt="error loading Image" width="700" height="400">
          <p></p>
          <p></p>
          <br>


          <h2>Achievements</h2>
          <h5>hi</h5>

          <div class="fakeimg" style="height:200px;">Add Image</div>
          <p>Bank Details</p>
          <p>Upcoming Updates</p>
         </div>
      </div>
     
  <!-- <End for the bank page> -->
      <div class="footer">
        <h2>Thank You!</h2>
      </div>      
</body>    