<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    </style>
    </head>
    
    <body>
<app-bank-structure></app-bank-structure>

<div class="work-item" style="text-align:center;">
  <div class="work-item-inner">
      <img src="../assets/Big-Data-1-scaled-1440x564_c.jpg  " alt="error loading Image" width="1300" height="200">
      <div>
          <h3>Contact us at</h3>
          <h5>Email us at: bankapplication.com,</h5>
          <h5>Contact no: 1234567890,</h5>
          <h5>Address: Bank Application,Model apartment,
                       Stan Lane,Mumbai-400043.</h5>
      </div>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->
